@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Jersey 15', sans-serif;
    background-color: #121315;
}

html {
    scroll-behavior: smooth;
}
.navbar {
    background-color: #121315;
    color: #d4e4e4;
    padding: 25px 0;
    text-shadow:0 0 5px #e3ebeb;

}

.navbar ul {
    font-size: 2em; /* Increased font size for better scaling */
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar ul li a {
    color: #d4e4e4;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #7e8686;
}

.container {
    padding: 20px;
    max-width: 800px; /* Added maximum width to prevent container from expanding too much */
    margin: 0 auto; /* Center the container horizontally */
}

.section {
    height: 100vh; /* Each section takes up full viewport height */
    margin-bottom: 40px; /* Add margin between sections */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; /* Center text within the section */
}

#title {
    font-size: 5em; /* Increased font size for better scaling */
    font-weight: 400;
    color: #d4e4e4;
    text-shadow:0 0 20px #e3ebeb;
}

button {
    background-color: #bcc4c4;
    padding: 12px 24px; /* Adjusted padding for better button appearance */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 1em;
}

button:hover {
    background-color: #7e8686;
}

#title3 {
    font-size: 2.5em; /* Increased font size for better scaling */
    font-weight: 400;
    color: #d4e4e4;
    text-shadow:0 0 5px #e3ebeb;

}

#quote {
    font-size: 2em; /* Increased font size for better scaling */
    font-weight: 400;
    color: #d4e4e4;
    border: 1px solid #bcc4c4;
    padding: 12px 24px;
    border-radius: 5px;
    text-shadow:0 0 5px #e3ebeb;

}

p {
    font-size: 2em; /* Increased font size for better scaling */
    font-weight: 400;
    color: #d4e4e4;
    text-shadow:0 0 5px #e3ebeb;
}
